<app-logo></app-logo>
<ng-container *ngIf="started; else start">
  <h2 class="fsetName">{{fset.name}}</h2>
  <div class="flashcard">
    <div class="flashcard-side form" *ngIf="frontSide; else backSide">
      <label class="flashcard-side-label">Question</label>
      <p class="flashcard-side-content">{{question}}</p>
      <button type="button" class="link" (click)="getAnswer()">Answer</button>
    </div>
  </div>
  <button class="cancel" type="button" (click)="cancel()">Cancel</button>
</ng-container>
<p class="score" *ngIf="!scoreHidden">
  Score: {{score}}/{{fset.flashcards.length}}</p>

<ng-template #start>
  <div class="session-start form">
    <select #s appAutofocus>
      <option label="{{fsetName}}" *ngFor="let fsetName of fsetNames"></option>
    </select>
    <button class="start-button positiveAction" type="button"
        (click)="init(s.selectedIndex)">
      Start session</button>
  </div>
</ng-template>

<ng-template #backSide>
  <div class="flashcard-side form">
    <label class="flashcard-side-label">Answer</label>
    <p class="flashcard-side-content">{{answer}}</p>
    <div class="score-buttons">
      <button class="fail-button delete" type="button" (click)="updateScore(0)">
        Fail
      </button>
      <button class="success-button positiveAction" type="button"
          (click)="updateScore(1)">
        Success
      </button>
    </div>
  </div>
</ng-template>
