<footer>
  <p>&copy; 2022 Johnny Gérard</p>
  <nav>
    <ul>
      <li><a href="/cookie-notice">Cookie notice</a></li>
      <li><a href="/privacy-policy">Privacy policy</a></li>
    </ul>
  </nav>
</footer>