<footer>
  <nav>
    <ul id="footerNav">
      <li><a href="/cookie-notice">Cookie notice</a></li>
      <li><a href="/privacy-policy">Privacy policy</a></li>
      <li><a href="/disclaimer">Disclaimer</a></li>
    </ul>
  </nav>
  <p id="copyright"><small>&copy; 2022 Johnny Gérard</small></p>
</footer>