<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/favicon@0.25x.png" type="image/png" sizes="16x16">
<link rel="icon" href="/favicon@0.5x.png" type="image/png" sizes="32x32">
<link rel="icon" href="/favicon.png" type="image/png" sizes="64x64">
<link rel="icon" href="/logo.svg" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
<title>FlashX | <%- title %></title>
<style>
  /* Navigation bar */
  nav button {
    all: unset;
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  nav>ul {
    display: flex;
    background-color: #DDD;
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
  }

  nav li>* {
    padding: 1em;
  }

  nav li>a {
    display: inline-block;
    text-decoration: none;
    color: unset;
  }

  nav li>a:hover {
    background-color: #f8f8f8;
  }

  #logout {
    margin-left: auto;
  }

  #logout>button {
    cursor: pointer;
  }

  #logout>button:hover {
    background-color: #C00;
    color: #EEE;
  }

</style>
