<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/favicon@0.25x.png" type="image/png" sizes="16x16">
<link rel="icon" href="/favicon@0.5x.png" type="image/png" sizes="32x32">
<link rel="icon" href="/favicon.png" type="image/png" sizes="64x64">
<link rel="icon" href="/logo.svg" type="image/svg+xml">
<title>FlashX | <%- title %></title>
