<nav>
  <a href="/">Home</a>

  <% if (authenticated) { %>
  <a href="/manager">Hub</a>
  <a href="/account">Account</a>
  <button type="button" onclick="
      fetch('/logOut', { method: 'DELETE' }).then(response => {
        if (response.status === 204)
          location.pathname = '/';
        else {
          response.text().then(console.error);
          alert('Logout operation failed.');
        }
      }).catch(err => {
        console.error(err);
        alert('Network error');
      });">Log out</button>
  <% } %>
</nav>
