/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

html {
    --accent-primary: #0072c6;
    --accent-secondary: whitesmoke;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-secondary);
    margin: 0;
}

input {
    all: unset;
    background-color: var(--accent-secondary);
    padding: 1em;
    border-radius: 0.5em;
}

input:focus {
    background-color: white;
}

button {
    all: unset;
    background-color: var(--accent-secondary);
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
}

button:focus-visible,
button:hover {
    outline: 2px solid black;
    outline-offset: -2px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hgroup>p {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.67em 0;
}

.form {
    background-color: lightgray;
    width: fit-content;
    padding: 1em;
    border-radius: 0.5em;
}

.positiveAction {
    background-color: #0A0;
    color: var(--accent-secondary);
}

.positiveAction:hover,
.positiveAction:focus-visible {
    background-color: var(--accent-secondary);
    color: #0A0;
    outline: 2px solid #0A0;
    outline-offset: -2px;
}

.delete {
    background-color: #C00;
    color: var(--accent-secondary);
}

.delete:hover,
.delete:focus-visible {
    color: #C00;
    background-color: var(--accent-secondary);
    outline: 2px solid #C00;
    outline-offset: -2px;
}

.link {
    color: var(--accent-secondary);
    background-color: var(--accent-primary);
}

.link:hover,
.link:focus-visible {
    background-color: var(--accent-secondary);
    color: var(--accent-primary);
    outline: 2px solid var(--accent-primary);
    outline-offset: -2px;
}

/* Forms */
.message {
    color: red;
    margin: 1em 0 0 0;
}

.successMessage {
    color: green;
    margin: 1em 0 0 0;
}

.validation {
    font-size: small;
    margin: 0;
}

.validationContainer {
    margin-top: 0.8em;
}

.required {
    color: red;
}

.required::after {
    content: ' (required)';
}

.form-link {
    all: unset;
    color: #00E;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
    outline: none;
}
