<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Account' }) %>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <main>
    <%- include('/logo') %>
    <h2>Welcome <%= user %>!</h2>
  </main>

</body>

</html>
