<%- include('/metadata', { title: 'About' }) %>

<%- include('/nav', { authenticated }) %>
<main>
  <hgroup>
    <%- include('/logo') %>
    <p>Cookie notice</p>
  </hgroup>
  <p>There are no third-party cookies currently in use.</p>
  <p>This website uses only one cookie named "connect.sid".
    <br>It is a first-party session cookie required for authentication.
  </p>
  <h2>Security warning</h2>
  <p>The "connect.sid" cookie contains sensitive data, i.e. a session
    identifier.</p>
  <p>A malicious actor in possession of this cookie will be able to access your
    account.</p>
  <p>If you suspect your cookie has been stolen, log out as soon as possible.
    <br>This will render the compromised cookie useless.
  </p>
</main>
