<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlashX | Flashcard hub</title>
</head>

<body>
  <%- include('/nav', { authenticated }) %>
  <h1>FlashX</h1>
  <h2>Welcome <%= user %>!</h2>
  <% if (fsets.length) { %>
  <ol>
    <% fsets.forEach((fset, index) => { %>
    <li><a href="manager/<%= index %>"><%= fset %></a></li>
    <% }); %>
  </ol>
  <% } %>
</body>

</html>
