<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlashX | Flashcard hub</title>
</head>

<body>
  <%- include('/nav', { authenticated }) %>
  <h1>FlashX</h1>
  <h2>Welcome <%= user %>!</h2>
  <label>Name
    <input required maxlength="256" id="name">
  </label>
  <button type="button" id="createFSet">Create a flashcard collection</button>
  <script type="module">
    const button = document.getElementById('createFSet');
    const name = document.getElementById('name');

    const addClickListener = onClick =>
      button.addEventListener('click', onClick, { once: true });

    const onClick = async event => {
      let reloading = false;

      try {
        if (!name.reportValidity()) return;

        const response = await fetch('/api/fset', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ name: name.value })
        });

        if (response.status === 204) {
          reloading = true;
          location.reload();
        } else {
          console.error(await response.text());
          alert('Operation failed.');
        }
      } catch (err) {
        console.error(err);
        alert('Network error');
      } finally {
        if (!reloading) addClickListener(onClick);
      }
    };

    addClickListener(onClick);

    name.addEventListener('keyup', event => {
      if (event.key === 'Enter') button.click();
    });
  </script>
  <% if (fsets.length) { %>
  <ol>
    <% fsets.forEach((fset, index) => { %>
    <li><a href="manager/<%= index %>"><%= fset %></a></li>
    <% }); %>
  </ol>
  <% } %>
</body>

</html>
