<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Homepage' }) %>
  <style>
    form {
      display: flex;
      flex-direction: column;
      background-color: lightgray;
      width: fit-content;
      padding: 1.5em;
      border-radius: 0.8em;
      position: fixed;
      top: 10em;
      left: 32em;
    }

    label {
      margin-bottom: 0.5em;
    }

    input {
      all: unset;
      background-color: whitesmoke;
      padding: 1em;
      font-size: 1em;
      border-radius: 0.5em;
      border: none;
    }

    input:focus {
      background-color: white;
    }

    .submit {
      padding: 1em;
      border-radius: 0.5em;
      border: none;
      background-color: #0072c6;
      color: whitesmoke;
      cursor: pointer;
    }

    input,
    form>button {
      margin-bottom: 2em;
    }

    form>p {
      align-self: flex-start;
      margin: 0;
    }

    img {
      height: 1.5em;
      margin-right: 0.4em;
    }

    hgroup>h1 {
      display: flex;
      align-items: center;
    }

    hgroup>p {
      font-size: 1.2em;
    }

    main>ul>li {
      margin-top: 0.4em;
    }

    main>ul>li::after {
      content: ' \2714';
      color: green;
    }

    form>p>a {
      margin-left: 0.5em;
    }

  </style>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <main>
    <hgroup>
      <h1><img src="/logo.svg" alt="FlashX logo">FlashX</h1>
      <p>Memorize easily with flashcards!</p>
    </hgroup>

    <p>Once you are registered, you will be able to:</p>

    <ul>
      <li>Write your own flashcards</li>
      <li>Organize them into collections</li>
      <li>Train your memory with active recall</li>
    </ul>

    <% if (!authenticated) { %>

    <% for (const { message } of flash) { %>
    <p><%= message %></p>
    <% } %>
    <form action="/login" method="post">
      <label for="username">Username</label>
      <input id="username" name="username" autocomplete="username" required
          autofocus>

      <label for="password">Password</label>
      <input id="password" type="password" name="password"
          autocomplete="current-password" required>
      <button class="submit">Log in</button>
      <p>No account? <a href="register">Register</a></p>
    </form>

    <% } %>
  </main>

</body>

</html>
