<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Homepage' }) %>
  <%- include('/formStyle') %>
  <style>
    hgroup>h1 {
      display: flex;
      align-items: center;
    }

    form {
      position: fixed;
      top: 10em;
      left: 32em;
    }

    img {
      height: 1.5em;
      margin-right: 0.4em;
    }

    hgroup>p {
      font-size: 1.2em;
    }

    main>ul>li {
      margin-top: 0.4em;
    }

    main>ul>li::after {
      content: ' \2714';
      color: green;
    }

  </style>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <main>
    <hgroup>
      <h1><img src="/logo.svg" alt="FlashX logo">FlashX</h1>
      <p>Memorize easily with flashcards!</p>
    </hgroup>

    <p>Once registered you will be able to:</p>

    <ul>
      <li>Write your own flashcards</li>
      <li>Organize them into collections</li>
      <li>Train your memory with active recall</li>
    </ul>

    <% if (!authenticated) { %>

    <form action="/login" method="post">
      <label for="username">Username</label>
      <input id="username" name="username" autocomplete="username" required
          autofocus>

      <label for="password">Password</label>
      <input id="password" type="password" name="password"
          autocomplete="current-password" required>
      <% for (const { message } of flash) { %>
      <p class="message"><strong><%= message %></strong></p>
      <% } %>
      <button>Log in</button>
      <p id="link">No account? <a href="register">Register</a></p>
    </form>

    <% } %>
  </main>

</body>

</html>
