<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Homepage' }) %>
  <style>
    form {
      display: flex;
      flex-direction: column;
      background-color: lightgray;
      width: fit-content;
      padding: 1em;
    }

    input,
    form>button {
      margin-bottom: 2em;
    }

    form>p {
      align-self: flex-start;
      margin: 0;
    }

  </style>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <hgroup>
    <h1>FlashX</h1>
    <p>Learn with flashcards!</p>
  </hgroup>

  <ul>
    <li>Build your own flashcard collections.</li>
    <li>Start memorizing with a FlashX training session.</li>
  </ul>

  <% if (!authenticated) { %>

  <% for (const { message } of flash) { %>
  <p><%= message %></p>
  <% } %>
  <script>
    const swapForms = register => {
      document.getElementById('login').style.display =
        register ? 'none' : 'flex';
      document.getElementById('register').style.display =
        register ? 'flex' : 'none';
    };
  </script>
  <form action="/login" method="post" id="login">
    <label for="loginUsername">Username</label>
    <input id="loginUsername" name="username" autocomplete="username" required
        autofocus>

    <label for="loginPassword">Password</label>
    <input id="loginPassword" name="password" autocomplete="current-password"
        required>
    <button>Log in</button>
    <p>No account?
      <button type="button" onclick="swapForms(true)">Register</button>
    </p>
  </form>

  <form action="/register" method="post" id="register" style="display: none">
    <label for="registerUsername">Username</label>
    <input id="registerUsername" name="username" autocomplete="username"
        required maxlength="128" pattern="[!-~]*">
    <script type="module">
      const username = document.getElementById('registerUsername');

      username.addEventListener('input', event => {
        const validity = username.validity;
        const message =
          validity.tooLong ? 'Maximum length is 128' :
            validity.patternMismatch ? `Forbidden:
            spaces
            control characters
            non-ascii characters` : '';

        username.setCustomValidity(message);
      });
    </script>
    <label for="registerPassword">Password</label>
    <input id="registerPassword" name="password" autocomplete="new-password"
        minlength="11"
        pattern="(?=.*?\d)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[!-/:-@[-`{-~])[!-~]*"
        maxlength="128" required>

    <script type="module">
      const password = document.getElementById('registerPassword');

      password.addEventListener('input', event => {
        const validity = password.validity;
        const message =
          validity.tooShort ? 'Minimum length is 11' :
            validity.tooLong ? 'Maximum length is 128' :
              validity.patternMismatch ? `Required:
    1 small letter
    1 capital letter
    1 digit
    1 symbol
    
    Forbidden:
    spaces
    control characters
    non-ascii characters` : '';

        password.setCustomValidity(message);
      });
    </script>
    <button>Sign up</button>
    <p>Already registered?
      <button type="button" onclick="swapForms(false)">Log in</button>
    </p>
  </form>

  <% } %>

</body>

</html>
