<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlashX | Log in</title>
</head>

<body>
  <a href="/">home</a>
  <form action="/login" method="post">
    <label>Username
      <input name="username" autocomplete="username" maxlength="128" required
          autofocus>
    </label>
    <label>Password
      <input name="password" autocomplete="current-password" maxlength="128"
          required>
    </label>
    <button>Log in</button>
  </form>
</body>

</html>
