.abilities>li {
    margin-top: 0.4em;
}

.abilities>li::after {
    content: ' \2714';
    color: green;
}

.forms {
    position: fixed;
    top: 10em;
    left: 32em;
}

@media (max-width: 56em) {
    .forms {
        position: static;
        align-self: center;
        margin-top: 2em;
    }

    :host {
        display: flex;
        flex-direction: column;
    }
}
