<hgroup>
  <app-logo></app-logo>
  <p>Collections</p>
</hgroup>
<form class="add-fset form" (ngSubmit)="addFSet()" #f="ngForm">
  <label>Name
    <input class="fset-name" required maxlength="256" name="name" size="16"
        appAutofocus [(ngModel)]="fsetName" #name="ngModel">
  </label>
  <button class="add-fset positiveAction" [disabled]="f.invalid">Add
    collection</button>
</form>
<ul class="fsets" *ngIf="fsets.length">
  <li class="fset" *ngFor="let fset of fsets; index as i">
    <form class="form" (ngSubmit)="renameFSet(name.value, i)" #f="ngForm">
      <a class="fset-link" routerLink="{{i}}">{{fset}}</a>
      <input required maxlength="256" name="name" #name>
      <button [disabled]="f.invalid">Rename</button>
      <button type="button" class="delete"
          (click)="deleteFSet(i)">Delete</button>
    </form>
  </li>
</ul>
