.forms {
    display: flex;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.rename-button {
    margin-top: 1em;
}

.add-fset {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.add-fset-button {
    margin-top: auto;
}

.fset-name {
    display: block;
    margin: 0.5em 0 1.5em 0;
}

.fsets {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.fset {
    display: block;
    width: max-content;
    margin: 0.5em 0;
}

.link {
    display: block;
    padding: 1em;
    border-radius: 0.4em;
    text-decoration: none;
}

@media (max-width: 40em) {
    :host, .forms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .forms>form {
        margin: 0;
    }

    .forms>form:first-child {
        margin-bottom: 1.6em;
    }

    hgroup>p {
        text-align: center;
    }

    .fsets {
        align-items: center;
    }
}
