<hgroup>
  <app-logo></app-logo>
  <p>Collections</p>
</hgroup>
<div class="forms">
  <form class="add-fset" (ngSubmit)="addFSet()" #f1="ngForm">
    <label>
      Name
      <input class="fset-name" required maxlength="256" name="name" appAutofocus
          [(ngModel)]="newFSetName">
    </label>
    <button class="add-fset-button positiveAction" [disabled]="f1.invalid">
      Add collection
    </button>
  </form>
  <form (ngSubmit)="renameFSet(nameUpdate.value, s.selectedIndex)" #f2="ngForm">
    <select #s>
      <option label="{{fsetName}}" *ngFor="let fsetName of fsetNames"></option>
    </select>
    <label class="label">
      Name
      <input required maxlength="256" name="name" [(ngModel)]="FSetNameUpdate"
          #nameUpdate="ngModel">
      <button class="rename-button" [disabled]="f2.invalid">Update</button>
    </label>
    <button class="delete" type="button" (click)="deleteFSet(s.selectedIndex)">
      Delete
    </button>
  </form>
</div>
<ul class="fsets" *ngIf="fsetNames.length">
  <li class="fset" *ngFor="let fsetName of fsetNames; index as i">
    <a class="link" routerLink="{{i}}">{{fsetName}}</a>
  </li>
</ul>
