.add-fset {
    display: flex;
    flex-direction: column;
}

.fset-name {
    display: block;
    margin: 0.5em 0 1.5em 0;
}

.fsets {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fset {
    display: block;
    margin-bottom: 0.5em;
}

.fset-link {
    all: unset;
    padding: 1em;
    cursor: pointer;
    display: block;
    background-color: var(--accent-primary);
    color: var(--accent-secondary);
    border-radius: 0.4em;
    margin-bottom: 0.5em;
    width: fit-content;
}

.fset-link:hover,
.fset-link:focus-visible {
    background-color: var(--accent-secondary);
    color: var(--accent-primary);
    outline: 2px solid var(--accent-primary);
    outline-offset: -2px;
}
