<hgroup>
  <app-logo></app-logo>
  <p>Collections</p>
</hgroup>
<div class="forms">
  <form class="add-fset form" (ngSubmit)="addFSet()" #f="ngForm">
    <label>Name
      <input class="fset-name" required maxlength="256" name="name" appAutofocus
          [(ngModel)]="fsetName" #name="ngModel">
    </label>
    <button class="add-fset-button positiveAction" [disabled]="f.invalid">Add
      collection</button>
  </form>
  <form class="form" (ngSubmit)="renameFSet(name.value, s.selectedIndex)"
      #f="ngForm">
    <select class="options" #s>
      <option label="{{fset}}" *ngFor="let fset of fsets"></option>
    </select>
    <label class="label">
      Name
      <input required maxlength="256" name="name" #name>
      <button class="rename-button" [disabled]="f.invalid">Update</button>
    </label>
    <button type="button" class="delete" (click)="deleteFSet(s.selectedIndex)">
      Delete
    </button>
  </form>
</div>
<ul class="fsets" *ngIf="fsets.length">
  <li class="fset" *ngFor="let fset of fsets; index as i">
    <a class="link" routerLink="{{i}}">{{fset}}</a>
  </li>
</ul>
