:host {
    position: relative;
    font-family: 'PT Mono', monospace;
}

:host::ng-deep>input {
    padding-right: 4em;
}

button {
    all: unset;
    cursor: pointer;
    padding: 0.5em 1em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

button:focus-visible {
    outline: 2px solid black;
    outline-offset: -0.5em;
    border-radius: 1em;
}

img {
    height: 2em;
    width: 2em;
}

img:not([hidden]) {
    display: block;
}
