html {
    --accent-primary: #0072c6;
    --accent-secondary: whitesmoke;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-secondary);
    margin: 0;
}

main {
    margin: 1em;
}

/* Navigation bar */
nav button {
    all: unset;
}

nav>ul {
    display: flex;
    background-color: var(--accent-primary);
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav li>* {
    padding: 1em;
    color: var(--accent-secondary);
}

nav li>a {
    display: inline-block;
    text-decoration: none;
}

nav li>a:hover {
    background-color: var(--accent-secondary);
    color: var(--accent-primary);
}

#logout {
    margin-left: auto;
}

#logout>button {
    cursor: pointer;
}

#logout>button:hover {
    background-color: #C00;
    color: white;
}