html {
    --accent-primary: #0072c6;
    --accent-secondary: whitesmoke;
}

.form {
    background-color: lightgray;
    width: fit-content;
    padding: 1em;
    border-radius: 0.5em;
}

.createButton {
    background-color: #0A0;
    color: var(--accent-secondary);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-secondary);
    margin: 0;
}

main {
    margin: 1em;
}

input {
    all: unset;
    background-color: var(--accent-secondary);
    padding: 1em;
    border-radius: 0.5em;
}

input:focus {
    background-color: white;
}

button {
    all: unset;
    background-color: var(--accent-secondary);
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
}

/* Logo */
#logo {
    display: flex;
    align-items: center;
}

#logo>img {
    height: 1.5em;
    margin-right: 0.4em;
}

/* Navigation bar */
#nav {
    display: flex;
    background-color: var(--accent-primary);
    padding: 0;
    margin: 0;
}

#nav>li {
    display: inline;
}

#nav>li>* {
    padding: 1em;
    color: var(--accent-secondary);
}

#nav>li>a {
    display: inline-block;
    text-decoration: none;
}

#nav>li>a:hover {
    background-color: var(--accent-secondary);
    color: var(--accent-primary);
}

#logout {
    margin-left: auto;
}

#logout>button {
    border-radius: 0;
    background-color: var(--accent-primary);
}

#logout>button:hover {
    background-color: #C00;
    color: white;
}