<hgroup>
  <app-logo></app-logo>
  <p>Memorize easily with flashcards!</p>
</hgroup>

<p>Once registered you will be able to:</p>

<ul>
  <li class="ability">Write your own flashcards</li>
  <li class="ability">Organize them into collections</li>
  <li class="ability">Train your memory with active recall</li>
</ul>

<app-login class="forms" (toggleFormEvent)="toggle = !toggle"
    *ngIf="toggle; else register"></app-login>
<ng-template #register>
  <app-register class="forms" (toggleFormEvent)="toggle = !toggle">
  </app-register>
</ng-template>
