.ability {
    margin-top: 0.4em;
}

.ability::after {
    content: ' \2714';
    color: green;
}

.login {
    position: fixed;
    top: 10em;
    left: 32em;
    display: flex;
    flex-direction: column;
}

.username-label {
    display: flex;
    flex-direction: column;
}

.login-field {
    display: block;
    margin: 0.5em 0 2em 0;
}

.register-link {
    margin: 2em 0 0 0;
}

.message {
    color: red;
    margin: 1em 0 0 0;
}

.invalid {
    color: red;
}

.invalid::after {
    content: ' (required)';
}
