<mat-toolbar class="space-between">
  <mat-icon aria-hidden="false" aria-label="Navigation menu" fontIcon="menu"></mat-icon>
  <img class="logo" src="/assets/flashx-logo.svg" alt="FlashX logo">
  <span class="spacer"></span>
  <button class="uppercase" mat-button>Log in</button>
  <button class="uppercase" mat-raised-button color="primary">Sign up</button>
</mat-toolbar>

<footer class="footer">
  <nav>
    <ul class="bottom-nav">
      <li class="bottom-link"><a routerLink="disclaimer">Disclaimer</a></li>
      <li class="bottom-link"><a routerLink="privacy-policy">Privacy policy</a></li>
    </ul>
  </nav>
  <p class="copyright"><small>© 2022 Johnny Gérard</small></p>
</footer>
