.forms {
    display: flex;
}

.add-flashcard {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.add-flashcard-input {
    margin: 0.5em 0 1.5em 0;
    display: block;
}

.flashcard {
    margin-bottom: 1em;
}

.flashcard-question,
.flashcard-answer {
    margin: 0;
}

.flashcard-question {
    border-bottom: 1px solid var(--accent-secondary);
    padding-bottom: 1em;
}

.flashcard-answer {
    border-top: 1px solid var(--accent-secondary);
    padding-top: 1em;
}

.update-fcard-button {
    margin: 1em 0;
}

.add-fcard-button {
    margin-top: auto;
}

.label {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
