<app-logo></app-logo>
<form #f="ngForm" class="form" (ngSubmit)="register()">
  <label [class.required]="username.touched && username.errors?.['required']"
      for="username">Username</label>
  <input id="username" name="username" autocomplete="username" required
      maxlength="128" pattern="[!-~]*" [(ngModel)]="credentials.username"
      #username="ngModel">
  <label [class.required]="password.touched && password.errors?.['required']"
      for="password">Password</label>
  <app-password (toggleEvent)="pwd.type = $event ? 'password' : 'text'">
    <input id="password" type="password" name="password" #pwd
        autocomplete="new-password" minlength="11"
        pattern="(?=.*?\d)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[!-/:-@[-`{-~])[!-~]*"
        maxlength="128" required [(ngModel)]="credentials.password"
        #password="ngModel">
  </app-password>
  <p *ngIf="password.errors?.['minlength']" class="validation">
    <strong>Minimum 11 characters</strong>
  </p>
  <p *ngIf="password.errors?.['pattern']" class="validation">
    <strong>One digit</strong><br>
    <strong>One symbol</strong><br>
    <strong>One small letter</strong><br>
    <strong>One capital letter</strong><br>
  </p>
  <p class="message" *ngIf="message"><strong>{{message}}</strong></p>
  <button class="positiveAction" [disabled]="f.invalid">Create account</button>
  <p id="link">Already registered? <a routerLink>Log in</a></p>
</form>
