.register-form {
    display: flex;
    flex-direction: column;
}

.first.register-form-label {
    margin-bottom: 2em;
}

.register-form-label {
    display: flex;
    flex-direction: column;
}

.register-field {
    display: block;
    margin: 0.5em 0 0.8em 0;
}

.register {
    margin-top: 2em;
}

.message {
    margin: 1em 0 0 0;
}

.login-link {
    margin: 2em 0 0 0;
}
