<app-logo></app-logo>
<form #form="ngForm" class="form" (ngSubmit)="register(form)">
  <label [class.required]="form.submitted && username.errors?.['required']"
      for="username">Username</label>
  <input id="username" name="username" autocomplete="username" required
      maxlength="128" pattern="[!-~]*" [(ngModel)]="credentials.username"
      #username="ngModel">
  <p *ngIf="username.errors?.['pattern']" class="validation">
    <strong>No spaces, non-ascii or control characters</strong>
  </p>
  <label [class.required]="form.submitted && password.errors?.['required']"
      for="password">Password</label>
  <app-password (toggleEvent)="pwd.type = $event ? 'password' : 'text'">
    <input id="password" type="password" name="password" #pwd
        autocomplete="new-password" minlength="11" appPasswordValidator
        maxlength="128" pattern="[!-~]*" required
        [(ngModel)]="credentials.password" #password="ngModel">
  </app-password>
  <p *ngIf="password.errors?.['minlength']" class="validation">
    <strong>Min length: 11</strong>
  </p>
  <p *ngIf="password.errors?.['pattern']" class="validation">
    <strong>No spaces, non-ascii or control characters</strong>
  </p>
  <p *ngIf="password.errors?.['digit']" class="validation">
    <strong>One digit</strong>
  </p>
  <p *ngIf="password.errors?.['lowercase']" class="validation">
    <strong>One small letter</strong>
  </p>
  <p *ngIf="password.errors?.['uppercase']" class="validation">
    <strong>One capital letter</strong>
  </p>
  <p *ngIf="password.errors?.['symbol']" class="validation">
    <strong>One symbol</strong>
  </p>
  <p class="message" *ngIf="message"><strong>{{message}}</strong></p>
  <button class="positiveAction">Create account</button>
  <p id="link">Already registered? <a routerLink>Log in</a></p>
</form>
