<app-logo></app-logo>
<h2>Welcome {{username}}!</h2>
<form (ngSubmit)="modifyPwd(form)" #form="ngForm">
  <label>
    <span [class.required]="submitted && currentPwd.errors?.['required']">
      Current
    </span>
    <app-password>
      <input name="currentPwd" type="password" autocomplete="current-password"
          required #pwd appAutofocus [(ngModel)]="credentials.currentPwd"
          #currentPwd="ngModel">
    </app-password>
  </label>
  <label>
    <span [class.required]="submitted && newPwd.errors?.['required']">New</span>
    <app-password class="field">
      <input name="newPwd" type="password" autocomplete="new-password"
          pattern="[!-~]*" appPasswordValidator minlength="11" maxlength="128"
          required [(ngModel)]="credentials.newPwd" #newPwd="ngModel" #pwd>
    </app-password>
    <div class="validationContainer" *ngIf="newPwd.value && newPwd.errors">
      <p class="validation" *ngIf="newPwd.errors?.['minlength']">
        <strong>Min length: 11</strong>
      </p>
      <p class="validation" *ngIf="newPwd.errors?.['pattern']">
        <strong>No spaces, non-ascii or control characters</strong>
      </p>
      <p class="validation" *ngIf="newPwd.errors?.['digit']">
        <strong>One digit</strong>
      </p>
      <p class="validation" *ngIf="newPwd.errors?.['lowercase']">
        <strong>One small letter</strong>
      </p>
      <p class="validation" *ngIf="newPwd.errors?.['uppercase']">
        <strong>One capital letter</strong>
      </p>
      <p class="validation" *ngIf="newPwd.errors?.['symbol']">
        <strong>One symbol</strong>
      </p>
    </div>
  </label>
  <button class="updatePwdButton">Change password</button>
  <p class="message" *ngIf="message"><strong>{{message}}</strong></p>
  <p class="successMessage" *ngIf="successMessage">
    <strong>{{successMessage}}</strong>
  </p>
</form>
<button class="delete deleteAccountButton" type="button"
    (click)="deleteAccount()">Delete account</button>
