#deleteAccount {
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form>label {
    margin-bottom: 0.5em;
}

.form>input {
    margin-bottom: 2em;
}

app-password:first-of-type {
    margin-bottom: 2em;
}

form>button {
    margin-top: 2em;
}
