.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.password {
    display: block;
    margin-top: 0.5em;
}

.update-pwd {
    margin-top: 2em;
}

.delete-account {
    display: block;
}

.second-label {
    margin-top: 2em;
}
