<app-logo></app-logo>
<h2>Welcome {{username}}!</h2>
<form class="form" (ngSubmit)="modifyPwd(form)" #form="ngForm">
  <label
      [class.required]="form.submitted && currentPwd.errors?.['required']"
      for="currentPwd">Current</label>
  <app-password (toggleEvent)="pwd1.type = $event ? 'password' : 'text'">
    <input id="currentPwd" name="currentPwd" type="password"
        autocomplete="current-password" required #pwd1
        [(ngModel)]="credentials.currentPwd" #currentPwd="ngModel">
  </app-password>
  <label [class.required]="form.submitted && newPwd.errors?.['required']"
      for="newPwd">New</label>
  <app-password (toggleEvent)="pwd2.type = $event ? 'password' : 'text'">
    <input id="newPwd" name="newPwd" type="password" autocomplete="new-password"
        pattern="(?=.*?\d)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[!-/:-@[-`{-~])[!-~]*"
        minlength="11" maxlength="128" required [(ngModel)]="credentials.newPwd"
        #newPwd="ngModel" #pwd2>
  </app-password>
  <p *ngIf="newPwd.errors?.['minlength']" class="validation">
    <strong>Minimum 11 characters</strong>
  </p>
  <p *ngIf="newPwd.errors?.['pattern']" class="validation">
    <strong>One digit</strong><br>
    <strong>One symbol</strong><br>
    <strong>One small letter</strong><br>
    <strong>One capital letter</strong><br>
  </p>
  <button id="updatePwd">Change password</button>
  <p class="message" *ngIf="message"><strong>{{message}}</strong></p>
  <p class="successMessage" *ngIf="successMessage">
    <strong>{{successMessage}}</strong>
  </p>
</form>
<button id="deleteAccount" type="button" class="delete"
    (click)="deleteAccount()">Delete account</button>
