.guidelines {
    text-align: left;
    border-spacing: 1em 0;
    margin-left: 1em;
}

.guideline {
    font-weight: unset;
    display: list-item;
}

.bad {
    color: red;
    font-weight: bold;
}
