<form *ngIf="!auth.authenticated" #form="ngForm" (ngSubmit)="logIn(form)">
  <label class="login-label">
    <span [class.required]="username.errors?.['required'] && username.touched">
      Username
    </span>
    <input class="login-field" name="username" autocomplete="username" required
        [(ngModel)]="credentials.username" #username="ngModel">
  </label>

  <label class="login-label">
    <span [class.required]="password.errors?.['required'] && password.touched">
      Password
    </span>
    <app-password class="login-field">
      <input type="password" name="password" [(ngModel)]="credentials.password"
          #pwd autocomplete="current-password" required #password="ngModel">
    </app-password>
  </label>

  <button class="link" [disabled]="form.invalid || form.submitted">
    Log in
  </button>
  <p class="message" *ngIf="message"><strong>{{message}}</strong></p>
  <p class="register-link">No account? <button class="form-link"
        (click)="toggleForm()" type="button">Register</button></p>
</form>
