<hgroup>
  <app-logo></app-logo>
  <p>"{{fset.name}}" collection</p>
</hgroup>

<div class="forms">
  <form class="add-flashcard" (ngSubmit)="addFlashcard(f)" #f="ngForm">
    <label>Question
      <input class="add-flashcard-input" name="question" required
          maxlength="256" [(ngModel)]="newFlashcard.question">
    </label>
    <label>Answer
      <input class="add-flashcard-input" name="answer" required maxlength="256"
          [(ngModel)]="newFlashcard.answer">
    </label>
    <button class="add-fcard-button positiveAction"
        [disabled]="f.invalid || f.submitted">
      Add flashcard
    </button>
  </form>
  <form #updateForm="ngForm"
      (ngSubmit)="updateFlashcard(s.selectedIndex, updateForm)">
    <select #s>
      <option label="{{flashcard.question}}"
          *ngFor="let flashcard of fset.flashcards">
      </option>
    </select>
    <label class="label">
      Question
      <input maxlength="256" name="question" [(ngModel)]="newQuestion">
    </label>
    <label class="label">
      Answer
      <input maxlength="256" name="answer" [(ngModel)]="newAnswer">
    </label>
    <button class="update-fcard-button"
        [disabled]="updateForm.submitted">
      Update
    </button>
    <button (click)="deleteFlashcard(s.selectedIndex, deleteFCardButton)"
        class="delete" type="button" #deleteFCardButton>Delete</button>
  </form>
</div>

<dl *ngIf="fset.flashcards.length">
  <div class="flashcard form"
      *ngFor="let flashcard of fset.flashcards; index as i">
    <dt class="flashcard-question">{{flashcard.question}}</dt>
    <dd class="flashcard-answer">{{flashcard.answer}}</dd>
  </div>
</dl>
