<app-logo></app-logo>
<h2>Mission</h2>
<p>Facilitate learning through the use of flashcards.</p>
<h2>Author</h2>
<div class="author">
  <img class="author-img" src="assets/author.jpg" alt="author">
  <div class="author-details">
    <p class="author-title">Johnny Gérard</p>
    <p class="author-subtitle">Software Developer</p>
    <ul class="author-links">
      <li class="author-link">
        <a href="https://www.linkedin.com/in/johnnygerard">
          <img class="author-link-img" src="assets/LinkedIn-Logo-256px.png"
              alt="LinkedIn logo" height="32" width="32">
        </a>
      </li>
      <li class="author-link">
        <a href="https://github.com/johnnygerard">
          <img class="author-link-img" src="assets/GitHub-Mark-32px.png"
              alt="GitHub mark" height="32" width="32">
        </a>
      </li>
      <li class="author-link">
        <a href="mailto:mail@jgerard.dev">
          <img class="author-link-img" src="assets/email.png" alt="email"
              height="32" width="32">
        </a>
      </li>
    </ul>
  </div>
</div>
<h2>Software</h2>
<p>FlashX is a web application and a GitHub open-source project.<br>
  To report a bug or request a feature,
  <a href="https://github.com/johnnygerard/FlashX/issues/new">open an issue</a>.
</p>
<p>GitHub links:</p>
<ul>
  <li><a href="https://github.com/johnnygerard/FlashX">Source code</a></li>
  <li>
    <a href="https://github.com/johnnygerard/FlashX/blob/main/LICENSE">
      License
    </a>
  </li>
  <li><a href="https://github.com/johnnygerard/FlashX#readme">README</a></li>
</ul>
<h2>Credits</h2>
<p>Built with
  <a href="https://code.visualstudio.com">Visual Studio Code</a><br>
  Hosted on <a href="https://azure.microsoft.com">Azure</a> and
  <a href="https://www.mongodb.com/atlas">MongoDB Atlas</a>
</p>
<p>Logo made with
  <a href="https://www.adobe.com/products/illustrator.html">
    Adobe Illustrator
  </a>
</p>
<p>Eye icons created by
  <a href="https://www.flaticon.com/authors/mattbadal">mattbadal</a>
  from <a href="https://www.flaticon.com/">Flaticon</a>
  <br>Cookie icon created by
  <a href="https://www.flaticon.com/authors/kerismaker">kerismaker</a>
  from <a href="https://www.flaticon.com/">Flaticon</a>
  <br>Email icon created by
  <a href="https://www.flaticon.com/authors/uniconlabs">Uniconlabs</a>
  from <a href="https://www.flaticon.com/">Flaticon</a>
</p>
