.author {
    display: flex;
}

.author-img {
    margin-right: 1.5em;
    height: 8em;
    border-radius: 50%;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-title {
    margin: 0;
}

.author-subtitle {
    margin-bottom: 1em;
}

.author-links {
    padding: 0;
    display: flex;
    margin: auto 0 0 0;
}

.author-link {
    display: inline;
    margin-right: 1em;
}

.author-link-img {
    display: block;
}
