:host {
    position: relative;
}

.session-start {
    margin: auto;
}

.options {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.4em;
    border: none;
}

.options:focus-visible {
    outline: 1px solid black;
}

.flashcard {
    margin: auto;
    width: fit-content;
}

.flashcard-side {
    text-align: center;
    min-width: 10em;
    max-width: 15em;
}

.flashcard-side-content,
.flashcard-side-label {
    display: block;
    background-color: var(--accent-secondary);
}

.flashcard-side-label {
    border-bottom: 2px solid black;
    padding: 0.4em;
    border-radius: 0.5em 0.5em 0 0;
    margin-bottom: 2em;
}

.flashcard-side-content {
    margin: 0 0 2em 0;
    padding: 1em;
    border-radius: 0.5em;
}

.score-buttons {
    display: flex;
}

.success-button,
.fail-button {
    flex: 1;
}

.fail-button {
    margin-right: 1em;
}

.cancel {
    position: absolute;
    right: 0;
    top: 0;
}

.cancel:hover,
.cancel:focus-visible {
    color: #C00;
    background-color: white;
    outline: 2px solid #C00;
    outline-offset: -2px;
}

.score {
    margin: 1em auto;
    width: fit-content;
}
