<app-logo></app-logo>
<h2 *ngIf="started">{{fset.name}} collection</h2>
<div class="session-start form" [hidden]="started">
  <select class="options" #s appAutofocus>
    <option label="{{fsetName}}" *ngFor="let fsetName of fsetNames"></option>
  </select>
  <button type="button" class="positiveAction" (click)="init(s.selectedIndex)">
    Start session</button>
</div>
<div class="flashcard" [hidden]="!started">
  <div class="flashcard-side form" [hidden]="!isQuestion">
    <label class="flashcard-side-label">Question</label>
    <p class="flashcard-side-content">{{question}}</p>
    <button type="button" class="link" (click)="getAnswer()">Answer</button>
  </div>
  <div class="flashcard-side form" [hidden]="isQuestion">
    <label class="flashcard-side-label">Answer</label>
    <p class="flashcard-side-content">{{answer}}</p>
    <button class="success-button positiveAction" type="button"
        (click)="updateScore(1)">Success</button>
    <button type="button" class="delete" (click)="updateScore(0)">Fail</button>
  </div>
  <button class="cancel" type="button" (click)="cancel()">Cancel</button>
</div>
<p class="score" [hidden]="scoreHidden">
  Score: {{score}}/{{fset.flashcards.length}}</p>
